<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>The Vogel Vault</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>INAlternativeAppNames</key>
	<array>
		<dict>
			<key>INAlternativeAppName</key>
			<string>Budget App</string>
		</dict>
		<dict>
			<key>INAlternativeAppName</key>
			<string>Todo List App</string>
		</dict>
		<dict>
			<key>INAlternativeAppName</key>
			<string>Vault</string>
		</dict>
		<dict>
			<key>INAlternativeAppName</key>
			<string>Vogel</string>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.finance</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Unlock The Vogel Vault with Face ID.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Microphone access is needed for voice transaction entry.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Voice input lets you log transactions by speaking.</string>
</dict>
</plist>
